body {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 28px;
  background-color: pink;
}

.chat__window {
  min-height: 730px;
  background-color: floralwhite;
}

.chat__greeting {
  text-align: center;
  border-bottom: 1px solid gray;
}

.chat__panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: peru;
}

input {
  font-size: inherit;
  width: 100%;
}

.chat__inputs {
  display: flex;
  flex-direction: row;
}

.chat__input-nick {
  max-width: 20%;
  padding-right: 20px;
}

.chat__input-nick, .chat__input-text {
  flex-grow: 1;
}

.submit {
  display: none;
}
